.button {
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  cursor: pointer;
  padding: 6px 16px;
  transition: 0.2s;
  margin: 4px;
}

.button-standard {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.button-standard:hover {
  background-color: rgb(0, 0, 0);
  color: #fff9f9;
}
.button-confirm {
  background-color: #2ea44f;
  color: #fff;
  border: 1px solid #2ea44f;
}

.button-confirm:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #2ea44f;
}

.button-cancel {
  background-color: #c22828;
  color: #fff;
  border: 1px solid #c22828;
}
.button-cancel:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #c22828;
}
