*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/*Global styles for table*/
table {
  border-collapse: collapse;
  margin: auto;
}
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 4px;
  text-align: center;
}

td:first-child {
  display: flex;
  column-gap: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
}

th {
  writing-mode: vertical-lr;
}

th:first-child {
  writing-mode: horizontal-tb;
}
